---
import "../../styles/global.css";

import type { Vehicle } from "../../types.ts";

export const prerender = false;

const { id } = Astro.params;
const res = await fetch(
  `https://www.dasweltauto.at/api/locales/de_AT/vehicles/${id}/detail`
);
const vehicle = (await res.json()) as Vehicle;
---

 <h1>Welcome</h1>
 <h1>{vehicle.overview.header}</h1>